.parent {
    background-color: black;
}

.text {
    color: rgb(4, 4, 199);
    font-size: 25px;
    font-weight: bold;
    text-align: center; 
    padding-top: 20px;
    font-family: Arial, sans-serif;
}