.text {
    color: rgb(4, 4, 199);
    font-size: 25px;
    font-weight: bold;
    text-align: center; 
    padding-top: 20px;
    font-family: Arial, sans-serif;
}

.parent {
    display: grid;
    place-items: center; 
    height: 40vh;     
}

.draegerInfo {
    border-style: solid;
    border-color: blue;
    background-color: lightgrey;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upcomingJob {
    text-align: center;
    width: 50%;
    transition: background 0.3s ease; /* Smooth transition for background change */
}

.upcomingJob:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    background: linear-gradient(to right, #34bcf1, #feb47b); /* Example gradient */
}
.plusSign {
    font-size: 75px;
}

.companyDetails {
    padding-left: 20px;
    font-weight: bold;
}

.employedDetails {
    padding-left: 20px;
    color: rgb(75, 138, 209);
}

.jobDescriptions {
    padding-left: 40px;
}

.techUsed {
    padding-left: 20px;
    font-weight: bold;
}

.techImg {
    display: grid;
    grid-template-columns: 0.05fr 0.05fr 0.05fr 0.05fr 0.05fr 0.05fr 1fr;
    align-items: right;
}