.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
}

.experienceCard {
    margin: 20px 0;
    width: 100%;
}

.companyName {
    font-weight: bold;
}

.dateLocation {
    margin: 1rem 0;
}

.jobDescriptionsTitle, .techUsedTitle {
    margin-top: 1.5rem;
    font-weight: 600;
}

.techIcons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}